extends: default
rules:
  line-length:
    max: 200
  trailing-spaces: enable
  indentation:
    spaces: 2
    indent-sequences: true  # Allow proper sequence indentation
  document-start: disable
  truthy: disable
  comments: disable
